
table, th, td{
  /* border: 1px solid black;
  border-collapse: collapse; */
  text-align: center;
}
table{
  width: 100%;
}

th, td{
  border-bottom: 1px solid #ddd;
}

button{
  margin: 5px auto;
}
