.jumbotron{
  text-align: center;
  padding: 10px ;
  margin: 30px;
}

.mainView{
  margin: 0 auto;
  width: 300px;
}

.mainWindowList{
  margin: 0 auto;
  margin: 30px;
}

div .row{
  display:flex;
  flex-wrap: wrap;
}
